.NavigationItemsWrp{
  transition: color 1s;
  position:fixed;
  top:0;
  right:0;
  z-index: 90;
}
@media (max-width:767px){
  .NavigationItemsWrp{
    padding-top:30vh;
    top:0;
    width: 80%;
    bottom: 0;
    right: -80%;
    background: #1fbdf2;
    transition: all .5s;
  }
  .NavigationItemsWrp::before{
    content: '';
    position: absolute;
    top:0;
    bottom: 0;
    width: 15px;
    right: 0;
    background: rgba(0,0,0, .3);
  }
}
.NavigationItemsWrpActive{
  right: 0;
}
@media only screen and (width:768px){
  .NavigationItemsWrp{
    color: #1fbdf2 !important;
  }
}
